.first{
    height: 50px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100%;
    padding-left: 10px;

    .filt{
        color: #082140;
        font-size: 12px;
        font-weight: bold;
    }

    a{
        font-size: 12px; 
        font-weight: bold;
    }
}

.second{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    margin: 20px;

    .listing1{
        color:#082140;
        font-size: 13px;
    }

    .listing2{
        color:#082140;
        font-weight: bold;
        font-size: 13px;
        margin-top: 10px
    }
}


.first1{
    height: 50px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .default{
        color: #2e496b !important;
        justify-content: space-between;
        width: 130px;
        padding: 8px;
        border-radius: 4px;
        margin-right: 10px;
    }

    .button{
        color: #2e496b !important;
        margin-right: 10px;
    }

    

    .search{
        width: 320px;
        border-radius: 5px;
        margin-right: 10px;height: 36px;
        input.ant-input{
            background-color: red !important;
        }
    }

    .task{
        background-color: #3FD28E;
        color: white;
        height: 36px;
        align-items: center;
        display: flex;
        margin-right: 10px;
    }
}
