.first{
    height: 50px;
    display: flex; 
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px, rgba(0, 0, 0, 0.05) 0px 0px 6px 0px;
    width: 100%;

    .default{
        color: #2e496b !important;
        justify-content: space-between;
        width: 150px;
        padding: 8px;
        border-radius: 4px;
    }

    .search{
        background-color: white;
        height: 36px;
        align-items: center;
        display: flex;
        margin-left: 20px;

        .badge{
            background-color: #2e496b;
            color: white;
            height: 22px;
            width: 22px;
            margin-left: 10px;
            border-radius: 4px;
        }
    }
}

.openapp{
    box-shadow:rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    padding: 20px;

    .openappbutton{
        height: 45px;
        width: 100%;
        border-radius: 5px;
        font-weight: bold;
        margin-top: 25px;
        background-color: #1dd18f;
        color: white;
    }
}