.first{
    height: 50px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 15px 0px, rgba(0, 0, 0, 0.05) 0px 0px 6px 0px;
    width: 100%;
    padding-left: 10px;

    .default{
        color: #2e496b !important;
        justify-content: space-between;
        width: 130px;
        padding: 8px;
        border-radius: 4px;
        margin-right: 10px;
    }

    .button{
        color: #2e496b !important;
        margin-right: 10px;
    }

    

    .search{
        width: 320px;
        border-radius: 5px;
        margin-right: 10px;height: 36px;
        input.ant-input{
            background-color: red !important;
        }
    }

    .filter{
        background-color: white;
        height: 36px;
        align-items: center;
        display: flex;
        margin-right: 10px;
        .badge{
            background-color: #2e496b;
            color: white;
            height: 22px;
            width: 22px;
            margin-left: 10px;
            border-radius: 4px;
        }
    }
}


